body {
  font-family: 'squidgame';
        src: url('https://raw.githubusercontent.com/SimpleJSBoi/Squid-Game-Font/main/GameOfSquids-1GMVL.ttf?raw=true') format('ttf');
        font-weight: normal;
}
